table {
    transition: .2s;

    & th {
        font-size: 10pt;
        cursor: pointer;
    }

    & th:hover {
        background-color: #f5f5f5;
        color: #5e5e5e;
    }

    & td {
        font-size: 9pt;
        padding: 5px;
        vertical-align: middle;
        cursor: pointer;
    }

    & tr:hover {
        & td {
            color: #5e5e5e;
        }
    }
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}