<div class="main-container">
  <div class="work-container">
    <div class="sidebar-container">
      <app-sidebar #sidebar></app-sidebar>
    </div>
    <div class="table-container">
      <app-log-table
        [selectedDate]="selectedDate"
        (logSelected)="onLogSelected($event)">
      </app-log-table>
    </div>
    <div class="details-container">
      <app-log-details
        [log]="selectedLog"
        [selectedDate]="selectedDate">
      </app-log-details>
    </div>
  </div>
  <div class="modal-mail-container">
    <app-modal-mail></app-modal-mail>
  </div>
</div>
<div class="navbar-container">
  <app-navbar (dateChanged)="onDateChange($event)"></app-navbar>
</div>
