<div class="main-container">
  <div class="work-container">
    <div class="sidebar-container">
      <app-sidebar></app-sidebar>
    </div>
    <div class="table-container">
      <app-log-table [selectedDate]="selectedDate" (logSelected)="onLogSelected($event)"></app-log-table>
    </div>
    <div class="details-container">
      <app-log-details [log]="selectedLog"></app-log-details>
    </div>
    <div class="navbar-container">
      <app-navbar (dateChanged)="onDateChange($event)"></app-navbar>
    </div>
  </div>
</div>