<form class="bg-light form-filter">
  <h4>Filtros</h4>
  <hr>

  <label for="title">
    <h6>Título</h6>
  </label>
  <input id="title" type="text" class="form-control mb-3" (input)="filterByTitle()">

  <label for="keywords">
    <h6>Palavras-chave</h6>
  </label>
  <input id="keywords" type="text" class="form-control mb-3" (input)="filterByKeywords()">

  <label for="withRegs">
    <h6>Somente com registros</h6>
  </label><br>
  <input type="checkbox" checked id="withRegs" class="form-check-input" (change)="filterRows()">

  <hr>
</form>

<script>
  const fixedChild = document.querySelector('.form-filter');
  const parent = document.querySelector('.sidebar-container');

  function adjustWidth() {
    // Define a largura do elemento fixo igual à do pai
    fixedChild.style.width = `${parent.offsetWidth}px`;
    // Define a posição horizontal do elemento fixo igual à do pai
    fixedChild.style.left = `${parent.getBoundingClientRect().left}px`;
    console.log("ajustou")
  }

  // Ajusta a largura e posição inicial
  adjustWidth();

  // Ajusta a largura e posição ao redimensionar a janela
  window.addEventListener('resize', adjustWidth);
  window.addEventListener('scroll', adjustWidth);
</script>
