<form class="bg-light form-filter">
  <h4>Filtros</h4>
  <hr>

  <label for="title"><h6>Título</h6></label>
  <div class="input-container">
    <input #title id="title" type="text" class="form-control mb-3" (input)="filter(title.id)">
    <i class="fa-solid fa-xmark" (click)="clearField(title.id)"></i>
  </div>
  

  <label>
    <h6>Palavras-chave</h6>
    <i #keywordsInfo class="fa-solid fa-circle-info"
      data-bs-toggle="popover"
      data-bs-content='É possível utilizar expressão-regular. Exemplo: "/SL.*?\.CPY/" (sem aspas)'
      title="Dica:">
    </i>
  </label>
  <div class="input-container">
    <input #keywords id="keywords" type="text" class="form-control mb-3" (input)="filter(keywords.id)">
    <i class="fa-solid fa-xmark" (click)="clearField(keywords.id)"></i>
  </div>

  <label for="withRegs"><h6>Somente com registros</h6></label>
  <br>
  <input #withRegs id="withRegs" type="checkbox" checked class="form-check-input" (change)="filter(withRegs.id)">

  <hr>
</form>

<script>
  const fixedChild = document.querySelector('.form-filter');
  const parent = document.querySelector('.sidebar-container');

  function adjustWidth() {
    // Define a largura do elemento fixo igual à do pai
    fixedChild.style.width = `${parent.offsetWidth}px`;
    // Define a posição horizontal do elemento fixo igual à do pai
    fixedChild.style.left = `${parent.getBoundingClientRect().left}px`;
    console.log("ajustou")
  }

  // Ajusta a largura e posição inicial
  adjustWidth();

  // Ajusta a largura e posição ao redimensionar a janela
  window.addEventListener('resize', adjustWidth);
  window.addEventListener('scroll', adjustWidth);
</script>