
form {
    position: fixed;
    height: 100vh;
    padding: 2rem;
    width: 20%;
    min-width: 230px;
}

h6 {
    font-size: 11pt;
}

.form-control {
    font-size: 9pt;
}

.input-container {
    position: relative;

    & i {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
    }

    & i:active {
        color: #98adec;
    }
}